@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.tableContainer{
  width: 10px;
}

a:hover {
  color: white !important;
}
a:hover .iconn {
  color: white !important;
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
}


.chart{
  width: 32%;
  height: auto;
  margin-left:17%;
  margin-top:5%;
}
.butoniEditit{
  margin-left:50% !important;
  width: 50px !important;

}

.forma{
  margin-left:10%;
}

.hide{
  display:none;
}


h1 {
  margin: 32px 0;
  color: rgb(130, 123, 123);
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.modali{
  width:40% !important;
}
