@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:hover {
    color: white !important;
}

a:hover .iconn {
    color: white !important;
}

.myInfo-box {
    width: 100%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 1%;
    overflow-x: scroll;
}

.titulli {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 80%;
    margin-left: 10%
}

.data {
    width: 40%;
    margin: 0 auto;
}

.picu {
    margin: 10px;
}